{%extends 'index.html' %}

    {% block content %}

        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-center" >Make a prediction!</legend>
                    <div class="form-group">
                        {{ form.tweet.label(class="form-control-label mb-2") }}

                        {% if form.tweet.errors %}
                            {{ form.tweet(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.tweet.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.tweet(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                </fieldset>
                <div class="form-group mt-3 text-center">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>

	


    {% endblock content %}